<!doctype html>

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"></link>
</head>
<body>

	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-lg-8 col-md-7 col-sm-6">
				<h1 style="margin: bottom=15px;">
					Job Portal
					<div style="float: right" align="right">
						<button class="btn btn-info" ng-click="listJobs()"
							ng-show="page!=1">List Jobs</button>
						<button class="btn btn-success" ng-click="viewAddJob()"
							ng-show="page!=2">Add Job</button>
						<button class="btn btn-danger" ng-click="signoff()">Logout</button>
					</div>
				</h1>
			</div>

		</div>
	</div>


	<!-- List Jobs -->
	<div ng-show='page==1'>

		<table class="table ">
			<tr style="background-color: #F2C780">
				<th>Job Id</th>
				<th>Category</th>
				<th>Team</th>
				<th>Description</th>
				<th>Posted On</th>
				<th>Status</th>
				<th></th>

				<!-- <th>Recruited</th> -->
			</tr>
			<tr dir-paginate="job in jobs|itemsPerPage:perpage"
				total-items="total*perpage">
				<td>{{ job.jId }}</td>
				<td>{{ job.category.categoryName }}</td>
				<td>{{ job.team.name }}</td>
				<td>{{ job.description }}</td>
				<td>{{ job.postedOn|date }}</td>
				<td>{{ job.closed ? "Closed":"Open" }}</td>
				<!-- </td>
			<td>{{ job.recruited.emailId==null? "N/A":
				job.recruited.emailId}} -->
				<td>
					<button class="btn btn-info" ng-click="viewApplications($index)">Applications</button>

					<button class="btn btn-success" ng-click="viewUpdateJob($index)">Edit</button>

					<button class="btn btn-danger" ng-click="deleteJob($index)">Delete</button>
				</td>


			</tr>
		</table>
		<dir-pagination-controls max-size="8" direction-links="true"
			boundary-links="true" on-page-change="listJobs(newPageNumber)">
		</dir-pagination-controls>
		<!-- <ul class="pager">
			<li class="previous"><a href ng-click="">Previous</a></li>
			<li class="next"><a href ng-click="">Next</a></li>
		</ul> -->

		<div>{{jobsError}}</div>

	</div>


	<!-- Add Job -->
	<div ng-show="page==2" class="col-md-7">
		<h2>Add Job</h2>


		<table class="table">
			<tr>
				<td><label>Category</label></td>
				<td><select ng-model="categModel" class=" form-control"
					ng-options="category.categoryName for category in categories track by category.cid">
				</select></td>
			</tr>

			<tr>
				<td><label>Team</label></td>
				<td><select ng-model="teamModel" class=" form-control"
					ng-options="team.name for team in teams track by team.id">
				</select></td>
			</tr>
			<tr>
				<td><label>Description</label></td>
				<td><textarea class=" form-control" rows="4" cols="50"
						ng-model="jobDescription"></textarea></td>
			</tr>

		</table>
		<center>

			<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
			<button class="btn btn-success" ng-click="publish()">Publish</button>


		</center>
		Selected {{categModel}}{{teamModel}}{{jobDescription}}
	</div>

	<!-- Edit Jobs -->
	<div ng-show="page==3" class="col-md-7">
		<h2>Edit Job</h2>

		<table class="table">
			<tr>
				<td><label>Category</label></td>
				<td><select ng-model="categModel" class=" form-control"
					ng-options="category.categoryName for category in categories track by category.cid">
				</select></td>
			</tr>

			<tr>
				<td><label>Team</label></td>
				<td><select ng-model="teamModel" class=" form-control"
					ng-options="team.name for team in teams track by team.id">
				</select></td>
			</tr>
			<tr>
				<td><label>Description</label></td>
				<td><textarea class=" form-control" rows="4" cols="50"
						ng-model="jobDescription"></textarea></td>
			</tr>

		</table>
		<center>
			<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
			<button class="btn btn-success" ng-click="update()">Save</button>
		</center>
		Selected {{categModel}}{{teamModel}}{{jobDescription}}
	</div>

	<!-- View Job's applications -->
	<div ng-show="page==4">
		<h3>Job</h3>
		<table class="table">
			<tr style="background-color: #F2C780">
				<th>Job Id</th>
				<th>Category</th>
				<th>Team</th>
				<th>Description</th>
				<th>Posted On</th>
				<th>Status</th>
				<!-- <th>Recruited</th> -->
			</tr>
			<tr>
				<td>{{ job.jId }}</td>
				<td>{{ job.category.categoryName }}</td>
				<td>{{ job.team.name }}</td>
				<td>{{ job.description }}</td>
				<td>{{ job.postedOn|date }}</td>
				<td>{{ job.closed ? "Closed":"Open" }}</td>
				<!-- <td>{{ job.recruited.emailId==null? "N/A":
				job.recruited.emailId}}</td>
 -->
			</tr>
		</table>

		<h3>Applications</h3>

		<table class="table">
			<tr style="background-color: #71C7F5">
				<th>Application Id</th>
				<th>Employee</th>
				<th>Date</th>
			</tr>
			<tr ng-repeat="application in applications">
				<td>{{ application.jAppId }}</td>
				<td>{{ application.employee.emailId }}</td>
				<td>{{ application.appliedOn |date }}</td>

			</tr>
		</table>

	</div>
	</div>
</body>
